.sign {
  width: 100%;
  font-family: "Tajawal";
}
.sign .container {
  display: flex;
  height: 100vh;
}

.sign .container .slide {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sign .container .welcome img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: 0.3s;
}
.sign .container .slide h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  width: 650px;
  position: absolute;
  left: 60px;
  font-family: "Tajawal";
}

.sign .container .form {
  flex-grow: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  min-width: 700px;
}

.sign .container .form img {
  width: 68.718px;
  margin-bottom: 0;
}

.sign .container .form h1 {
  font-size: 48px;
  font-weight: 700;
  color: #00225c;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form form {
  width: 100%;
  text-align: center;
}

.form form input {
  margin: 5px 0;
  flex: 1;
  padding: 11px 0px 11px 20px;
  outline: none;
  border: none;
  background-color: #b8bcc4;
  color: rgba(45, 46, 49, 1);
  border-radius: 6px;
  border: 2px solid #b8bcc4;
  font-size: 20px;
  font-weight: 700;
  font-family: "Tajawal";
  transition: 0.3s;
}
.form form .new-details {
  flex-wrap: wrap;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5px;
}
.form form .password {
  background-color: #b8bcc4;
  color: rgba(45, 46, 49, 1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 2.5px);

  transition: 0.3s;
  padding-right: 10px;
  border: 2px solid #b8bcc4;
  height: 59px;
}
.form form .confirm-password {
  width: calc(50% - 2.5px);
  height: 59px;
}
.form form .confirm-password input {
  width: 100%;
  /* font-size: 20px; */
  height: 59px;
  margin: 0;
}
.form form .password input {
  margin: 0;
  border: none;
}
.form form .password svg {
  cursor: pointer;
  color: rgba(45, 46, 49, 1);
  font-size: 18px;
}
.form form input:focus,
.password:has(input:focus) {
  background-color: white;
  border: 2px solid #00225c;
}
.form form .password input:focus {
  border: none;
}
.form form .gender {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.form form .gender .male,
.form form .gender .female {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form form .gender input[type="radio"],
.form form .gender-child input[type="radio"] {
  appearance: none; /* Removes default checkbox styling */
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 18px; /* Set width */
  height: 18px; /* Set height */

  border: 2px solid rgba(0, 0, 0, 1); /* Border color */
  border-radius: 50%; /* Makes it circular */

  display: inline-block;
  position: relative;

  cursor: pointer;
  background-color: white;
  padding: 0;
}
.form form .gender input[type="radio"]:checked,
.form form .gender-child input[type="radio"]:checked {
  border-color: #00225c;
}
.form form .gender input[type="radio"]:checked::after,
.form form .gender-child input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #042867;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form form .gender label {
  font-size: 24px;
  font-weight: 700;
}

.form form .btn-sign {
  margin: 10px 0;
  width: 60%;
  padding: 11px 10px 11px 20px;
  outline: none;
  border: none;
  background-color: #133e87;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
}
.form form .btn-sign:hover {
  background-color: #00225c;
}

.form form .or p {
  font-size: 20px;
  color: #00225c;
}
.form form .or p a {
  cursor: pointer;
  color: #0e8398;
}

.sign div.icon {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.sign div.icon span {
  height: 34px;
  width: 8px;
  background-color: white;
  display: flex;
  border-radius: 4px;
  opacity: 0.3;
  transition: all 0.3s;
  cursor: pointer;
}

.sign div.icon span.text-white {
  opacity: 1;
}

/* account type  */

.form form .account-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.form form .account-type div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form form .account-type div label {
  font-size: 48px;
  color: black;
  font-weight: 700;
}

.form form .account-type input[type="radio"] {
  appearance: none; /* Removes default checkbox styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Set height */

  /* Border color */
  border-radius: 50%; /* Makes it circular */

  display: inline-block;
  flex: auto;
  position: relative;
  width: 140px;
  height: 140px;

  cursor: pointer;
  background-size: cover;
  padding: 0;
}
.form form .account-type .doctor input[type="radio"] {
  background-image: url("../../Images/doctor.jpg");
}
.form form .account-type .parent input[type="radio"] {
  background-image: url("../../Images/Parent_BW.png");
}

.form form .account-type input[type="radio"]:checked {
  border: 6px solid #325ca5;
}

.form form .account-type .doctor input[type="radio"]:checked {
  background-image: url("../../Images/doctor-color.jpg");
}

.form form .account-type .parent input[type="radio"]:checked {
  background-image: url("../../Images/parent.png");
}

/* end account type  */

/* start child auth  */
.form form .gender-child {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.form form .gender-child div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* end child auth */

/* start log in  */

.form form .forget {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;

  text-align: end;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.form form .forget a {
  cursor: pointer;
  color: rgba(0, 34, 92, 1);
}

/* end log in  */

/* start Forget password */

.sign p.page-forget,
p.page-opt {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 34, 92, 1);
  text-align: center;
  margin-bottom: 10px;
}

.input-opt {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 59px; */
}

.input-opt input {
  text-align: center;
  padding: 11px 10px !important;
}

.sign .container form .input-opt input {
  width: 59px;
  flex: 0;
}
.sign .container h1.newpass {
  font-size: 40px;
}

.sign .container p.newpass {
  font-size: 20px !important;
}

/* media  */
.form form .new-details p.err {
  width: 100% !important;
}
@media (max-width: 767px) {
  .sign .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
  }
  .sign .container .slide {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .sign .container .form {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
  }

  .sign .container .slide h1 {
    color: white;
    font-size: 28px;
    width: 350px;
  }

  .sign .container .form img {
    width: 100%;
    margin-bottom: 0;
  }

  .sign .container .form h1 {
    font-size: 38px;

    margin-top: 0;
    margin-bottom: 10px;
  }
  .form form {
    width: 100%;
    text-align: center;
  }

  .form form input {
    width: 80%;
    padding-right: 6px;

    font-size: 16px;
  }
  .form form input {
    padding: 11px 0 11px 5px;
  }
  .form form .password svg {
    font-size: 16px;
  }
  .form form .new-details {
    width: 80%;
  }

  .form form p.err {
    color: red;
    font-weight: 500;
    text-align: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .form form .forget {
    width: 80%;
  }
  .form form .btn-sign {
    width: 80%;

    font-size: 20px;
  }
  .form form .gender-child {
    font-size: 18px;
    font-weight: 700;
    /* flex-direction: column; */
    align-items: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form form .account-type div label {
    font-size: 28px;
    color: black;
    font-weight: 700;
  }
  .form form .account-type input[type="radio"] {
    width: 90px;
    height: 90px;
  }

  .sign p.page-forget,
  p.page-opt {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 34, 92, 1);
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
  }

  .input-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .sign .container .slide {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .sign .container .form {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    max-width: 350px;
  }

  .sign .container .slide h1 {
    color: white;
    font-size: 28px;
    width: 350px;
  }

  .sign .container .form img {
    width: 100%;
    margin-bottom: 0;
  }

  .sign .container .form h1 {
    font-size: 38px;

    margin-top: 0;
    margin-bottom: 10px;
  }
  .form form {
    width: 100%;
    text-align: center;
  }

  .form form input {
    width: 80%;

    font-size: 16px;
  }
  .form form .new-details {
    width: 80%;
  }
  .form form p.err {
    color: red;
    font-weight: 500;
    text-align: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .form form .password svg {
    font-size: 16px;
  }
  .form form .forget {
    width: 80%;
  }
  .form form .btn-sign {
    width: 80%;

    font-size: 20px;
  }
  .form form .gender-child {
    font-size: 20px;
    font-weight: 700;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form form .account-type div label {
    font-size: 28px;
    color: black;
    font-weight: 700;
  }

  .form form .account-type input[type="radio"] {
    width: 100px;
    height: 100px;
  }
  .sign p.page-forget,
  p.page-opt {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 34, 92, 1);
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
  }

  .input-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .sign .container .slide {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .sign .container .form {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 470px;
    max-width: 470px;
  }

  .sign .container .slide h1 {
    color: white;
    font-size: 38px;
    width: 500px;
  }

  .sign .container .form img {
    width: 100%;
    margin-bottom: 0;
  }

  .sign .container .form h1 {
    font-size: 38px;

    margin-top: 0;
    margin-bottom: 10px;
  }
  .form form {
    width: 100%;
    text-align: center;
  }

  .form form input {
    width: 70%;

    font-size: 16px;
  }

  .form form .new-details {
    width: 70%;
  }
  .form form p.err {
    color: red;
    font-weight: 500;
    text-align: start;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .form form .password svg {
    font-size: 18px;
  }
  .form form .forget {
    width: 70%;
  }
  .form form .btn-sign {
    width: 70%;

    font-size: 20px;
  }
  .form form .gender-child {
    font-size: 22px;
    font-weight: 700;
    flex-direction: column;
    align-items: start;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .form form .account-type div label {
    font-size: 38px;
    color: black;
    font-weight: 700;
  }
  .form form .account-type input[type="radio"] {
    width: 120px;
    height: 120px;
  }

  .sign p.page-forget,
  p.page-opt {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 34, 92, 1);
    text-align: center;
    margin-bottom: 10px;
    width: 70%;
  }

  .input-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (min-width: 1200px) {
  .sign .container .slide {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .sign .container .form {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 470px;
    max-width: 470px;
  }

  .sign .container .slide h1 {
    color: white;
    font-size: 38px;
    width: 500px;
  }

  .sign .container .form img {
    width: 100%;
    margin-bottom: 0;
  }

  .sign .container .form h1 {
    font-size: 38px;

    margin-top: 0;
    margin-bottom: 10px;
  }
  .form form {
    width: 100%;
    text-align: center;
  }

  .form form input {
    width: 70%;

    font-size: 20px;
  }
  .form form .forget {
    width: 70%;
  }
  .form form .btn-sign {
    width: 70%;

    font-size: 20px;
  }
} */

@media (min-width: 1400px) {
  .sign .container .slide {
    height: 100%;
    flex-grow: 1;
  }
  .sign .container .form {
    flex-grow: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    min-width: 700px;
  }

  .sign .container .slide h1 {
    color: white;
    font-size: 48px;
    width: 650px;
  }
  .sign .container .form h1 {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form form {
    width: 100%;
    text-align: center;
  }

  .form form input {
    width: 60%;

    font-size: 20px;
  }
  .form form .new-details {
    width: 60%;
  }
  .form form .password {
    width: calc(50% - 2.5px);
  }
  .form form p.err {
    color: red;
    font-weight: 500;
    text-align: start;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form form .btn-sign {
    width: 60%;

    font-size: 24px;
  }
  .form form .forget {
    width: 60%;
  }
  .form form .gender-child {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    flex-direction: row;
  }

  .form form .account-type div label {
    font-size: 48px;
    color: black;
    font-weight: 700;
  }

  .form form .account-type input[type="radio"] {
    width: 140px;
    height: 140px;
  }

  .sign p.page-forget,
  p.page-opt {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 34, 92, 1);
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
  }

  .input-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
