.charity .charity-title .main-container .search p {
  font-size: 28px;
}

.charity .charity-result .main-container > p {
  margin-top: 10px;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  color: var(--main-color);
}
.charity .charity-result .main-container .charity-boxs {
  width: 90%;
  border: 3px solid #898c93;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
}
.charity .charity-result .main-container .charity-boxs .char-box {
  background-color: white;
  padding: 16px 9px 16px 14px;
  border-radius: 27px;
  margin-bottom: 20px;
}
.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .box-content
  h3 {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 800;
}

.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .box-content
  p.char-address {
  font-size: 24px;
  font-weight: 400;
}
.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .box-content
  .char-available {
  font-size: 27px;
  font-weight: 300;
  color: #008c15;
  font-style: italic;
}

.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .box-content
  a {
  font-size: 24px;
  font-weight: 700;
  background-color: var(--main-color);
  color: white;
  transition: 0.3s;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  border-radius: 9px;
  cursor: pointer;
}

.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .box-content
  a:hover {
  background-color: var(--color-hover);
}
.charity .charity-result .main-container .charity-boxs .char-box .image-logo {
  width: 158px;
  height: 158px;
  background-color: #eee;
  border-radius: 18px;
}
.charity
  .charity-result
  .main-container
  .charity-boxs
  .char-box
  .image-logo
  img {
  max-width: 158px;
  width: 158px;
  height: 158px;
  border-radius: 18px;
}
@media (width < 1600px) {
  .charity .charity-title .main-container .title p {
    font-size: 30px;
  }
  .charity .charity-title .main-container .search p {
    font-size: 24px;
  }
}

@media (width < 1200px) {
  .charity .charity-title .main-container .title p {
    font-size: 24px;
  }
  .charity .charity-title .main-container .search p {
    font-size: 24px;
  }
  .charity .charity-result .main-container > p {
    font-size: 40px;
  }
}

@media (width < 992px) {
  .charity .charity-title .main-container .title p {
    font-size: 18px;
  }
  .charity .charity-title .main-container .search p {
    font-size: 20px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .box-content {
    width: 70%;
  }
  .charity .charity-result .main-container .charity-boxs .char-box .image-logo {
    width: 113px;
    height: 113px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .image-logo
    img {
    width: 113px;
    max-width: 113px;
    height: 113px;
  }
}

@media (width < 768px) {
  .charity .charity-result .main-container > p {
    margin: 0;
  }

  .charity .charity-result .main-container .charity-boxs {
    border: none;
    width: 100%;
    padding: 0;
  }
  .charity .charity-result .main-container .charity-boxs .char-box {
    width: 100%;
    gap: 10px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .box-content
    h3 {
    font-size: 24px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .box-content
    p.char-address {
    font-size: 18px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .box-content
    p.char-available {
    font-size: 16px;
    /* padding-right: 10px; */
    line-height: 119%;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .box-content
    a {
    text-align: center;
    font-size: 18px;
  }
  .charity .charity-result .main-container .charity-boxs .char-box .image-logo {
    width: 90px;
    max-width: 90px;
    height: 90px;
  }
  .charity
    .charity-result
    .main-container
    .charity-boxs
    .char-box
    .image-logo
    img {
    width: 90px;
    max-width: 90px;
    height: 90px;
  }
}

/* charityId  */
.charity-id .main-container .char-content {
  /* display: flex; */
  padding: 30px;
  border-radius: 30px;
}
.charity-id .main-container .char-content .title-char {
  gap: 30px;
  /* line-height: 119%; */
}

.charity-id .main-container .char-content .title-char img {
  width: 190px;
  max-width: 190px;
  height: 190px;
  background-color: #eee;
  border-radius: 50%;
}
.charity-id .main-container .char-content .title-char h2 {
  font-size: 76px;
  font-weight: 700;
  /* margin-bottom: 40px; */
}
.charity-id .main-container .char-content .title-char p {
  font-size: 40px;
  font-weight: 400;
}
.charity-id .main-container .char-content .title-char p:first-of-type {
  margin-top: -20px;
}
.charity-id .main-container .char-content .title-char p:last-of-type {
  margin-top: -15px;
}

.charity-id .main-container .char-content .char-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}
.charity-id .main-container .char-content .char-links a {
  background-color: var(--main-color);
  transition: 0.3s;
  color: white;
  padding: 22px 20px;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  cursor: pointer;
}
.charity-id .main-container .char-content .char-links a:first-of-type {
  width: 244px;
}
.charity-id .main-container .char-content .char-links a:last-of-type {
  width: 440px;
}
.charity-id .main-container .char-content .char-links a:hover {
  background-color: var(--color-hover);
}

/* char-form */
.char-form {
  padding-top: 40px;
}
.char-form > h2 {
  text-align: center;
  font-size: 76px;
  font-weight: 700;
}
.char-form .donate-theam {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border: 3px solid var(--main-color);
  border-radius: 15px;
}
.char-form .donate-theam h3 {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}
.char-form .donate-theam h3 span {
  display: flex;
  align-items: center;
  font-size: 64px;
}
.char-form .donate-theam > span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);

  position: relative;
  display: flex;
  /* z-index: 1; */
}
.char-form .donate-theam > span::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  border: 3px solid white;
  /* z-index: 2; */
}
.char-form form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.char-form form input {
  padding: 22px 20px;
  background-color: #b8bcc4;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  border-radius: 9px;
  display: flex;
  align-items: center;
  height: 59px;
  border: 2px solid #b8bcc4;
  font-family: "Tajawal";
  transition: 0.3s;
}
.char-form form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.char-form form div input {
  width: calc((100% / 2) - 40px);
}

.char-form form button {
  width: 50%;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  color: white;
  padding: 22px;
  transition: 0.3s;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
}
.char-form form button:hover {
  background-color: var(--color-hover);
}
.char-form form input:focus {
  background-color: white;
  border: 2px solid #00225c;
}
@media (width < 1600px) {
  .charity-id .main-container .char-content .title-char h2 {
    font-size: 48px;
  }
  .charity-id .main-container .char-content .title-char p {
    font-size: 36px;
  }
  .charity-id .main-container .char-content .title-char p:first-of-type {
    margin-top: -10px;
  }
}
@media (width < 1200px) {
  .charity-id .main-container .char-content .title-char img {
    width: 158px;
    max-width: 158px;
    height: 158px;
  }
  .charity-id .main-container .char-content .char-links a:first-of-type {
    width: fit-content;
  }
  .charity-id .main-container .char-content .char-links a:last-of-type {
    width: 330px;
  }
}

@media (width < 992px) {
  .charity-id .main-container .char-content {
    flex-direction: column;
    gap: 40px;
  }
  .charity-id .main-container .char-content .title-char {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .charity-id .main-container .char-content .title-char h2 {
    font-size: 38px;
  }
  .charity-id .main-container .char-content .title-char p {
    font-size: 24px;
  }
  .charity-id .main-container .char-content .title-char p:first-of-type {
    margin-top: -10px;
  }
  .charity-id .main-container .char-content .title-char p:last-of-type {
    margin-top: -10px;
  }
  .charity-id .main-container .char-content .title-char img {
    width: 113px;
    max-width: 113px;
    height: 113px;
  }
  .charity-id .main-container .char-content .char-links {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .charity-id .main-container .char-content .char-links a {
    width: 80% !important;
  }
}

@media (width < 768px) {
  .charity-id .main-container .char-content {
    flex-direction: column;
    gap: 40px;
    padding: 15px;
  }
  .charity-id .main-container .char-content .title-char {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
  .charity-id .main-container .char-content .title-char h2 {
    font-size: 28px;
  }
  .charity-id .main-container .char-content .title-char p {
    font-size: 18px;
  }
  .charity-id .main-container .char-content .title-char p:first-of-type {
    margin-top: 0;
  }
  .charity-id .main-container .char-content .title-char p:last-of-type {
    margin-top: 0;
  }
  .charity-id .main-container .char-content .title-char img {
    width: 69px;
    max-width: 69px;
    height: 69px;
  }
  .charity-id .main-container .char-content .char-links {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .charity-id .main-container .char-content .char-links a {
    width: 100% !important;
    font-size: 18px;
    font-weight: 500;
  }
  .char-form h2 {
    font-size: 32px;
  }
  .char-form .donate-theam {
    display: none;
  }
  .char-form form {
    width: 100%;
    padding: 30px 15px;
  }
  .char-form form input {
    font-size: 20px;
    height: 39px;
  }
  .char-form form div {
    gap: 5px;
  }
  .char-form form div input {
    width: 50%;
  }
  .char-form form button {
    width: 100%;
    font-size: 18px;
  }
}
.charity-id-loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
