:root {
  --main-color-logo: rgba(9, 54, 75, 1);
  --second-color-logo: rgba(47, 188, 215, 1);
  --main-color: rgba(19, 62, 135, 1);
  --second-color: rgba(143, 173, 225, 1);
  --second-color-hover: rgba(92, 130, 195, 1);
  --color-hover: rgba(0, 34, 92, 1);
  --main-font-tajawal: "Tajawal";
}

.education-res,
.article,
.medican-id {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgba(246, 247, 251, 1);
}
.education-res .title,
.article .title,
.medican .med-title,
.medican-id .title,
.charity .charity-title {
  text-align: right;
  background: linear-gradient(90deg, rgba(156, 193, 255, 0) 45%, #9cc1ff 100%);
  display: flex;
  align-items: center;
  height: 112px;
  color: var(--main-color);
  font-family: var(--main-font-tajawal);
  line-height: 119%;
}
.education-res .title h2,
.article .title h2,
.medican .med-title .main-container .title h2,
.medican-id .title h2,
.charity .charity-title .main-container .title h2,
.comments-session .title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.education-res .title p,
.article .title p,
.medican .med-title .main-container .title p,
.medican-id .title p,
.charity .charity-title .main-container .title p,
.comments-session .title p {
  font-size: 36px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .education-res .title h2,
  .article .title h2,
  .medican .med-title .main-container .title h2,
  .medican-id .title h2,
  .charity .charity-title .main-container .title h2,
  .comments-session .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .education-res .title p,
  .article .title p,
  .medican .med-title .main-container .title p,
  .medican-id .title p,
  .charity .charity-title .main-container .title p,
  .comments-session .title p {
    font-size: 28px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .education-res .title,
  .medican .med-title,
  .medican-id .title,
  .charity .charity-title {
    background: white;
    text-align: center;
    width: 100%;
  }
  .article .title,
  .medican-id .title,
  .charity .charity-title,
  .medican .med-title,
  .comments-session .title {
    background: transparent;
  }
  .education-res .title h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .education-res .title p,
  .medican .med-title .main-container .title p,
  .charity .charity-title .main-container .title p {
    font-size: 18px;
    font-weight: 500;
  }
  .article .title h2,
  .article .title p,
  .medican-id .title h2,
  .medican-id .title p,
  .comments-session .title h2,
  .comments-session .title p {
    display: none;
  }
}

.article .article-grids {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article .article-grids .art-grid {
  width: 70%;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 27px;
  display: flex;

  flex-direction: column;
  gap: 12px;
}

.article .article-grids .art-grid .art {
  display: flex;
  align-items: center;
  gap: 37px;
}
.article .article-grids .art-grid .art .art-title {
  width: calc(100% - (158px + 37px));
}

.article .article-grids .art-grid .art .art-title h3 {
  font-size: 36px;
  font-weight: 800;
  color: var(--main-color);
}
.article .article-grids .art-grid .art .art-title p {
  font-size: 24px;
  font-weight: 400;
  color: black;
  height: 80px;
  line-height: 119%;
  overflow: hidden;
}

.article .article-grids .art-grid .art .art-title .creator-web {
  display: none;
}

.article .article-grids .art-grid .art-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article .article-grids .art-grid .art-link a {
  padding: 22px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 59px;
  width: 350px;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
  font-family: sans-serif;
}
.article .article-grids .art-grid .art-link a:hover {
  background-color: var(--color-hover);
}

.article .article-grids .art-grid .art-link .creator-web {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: 170px;
}

.article .article-grids .art-grid .art-link .creator-web span.creator-name {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
}

.article .article-grids .art-grid .art-link .creator-web span.time {
  font-size: 15px;
  font-weight: 300;
}
.article
  .article-grids
  .art-grid
  .art-link
  .creator-web
  .article
  .article-grids
  .art-grid
  .art
  .image {
  width: 158px !important;
  height: 158px !important;
  border-radius: 18px;
  background-color: #eee;
}
.article .article-grids .art-grid .art .image img {
  width: 158px !important;
  max-width: 158px;
  height: 158px !important;
  border-radius: 18px;
  background-color: #eee;
}

@media (max-width: 1199px) {
  .article .article-grids .art-grid {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .article .article-grids .art-grid .art .art-title {
    width: 65% !important;
  }

  .article .article-grids .art-grid .art-link .creator-web {
    display: none;
  }
  .article .article-grids .art-grid .art {
    justify-content: space-between;
  }
  .article .article-grids .art-grid {
    position: relative;
  }
  .article .article-grids .art-grid .art .image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
  }
  .article .article-grids .art-grid .art .image img {
    width: 100px;
    max-width: 100px;
    height: 100px !important;
  }
  .article .article-grids .art-grid .art .art-title p {
    display: none;
  }
  .article .article-grids .art-grid .art .art-title .creator-web {
    display: flex;
  }
  .article .article-grids .art-grid .art .art-title .creator-web span {
    font-size: 18px;
    font-weight: 200;
    color: rgba(45, 46, 49, 1);
    font-style: italic;
  }
  .article .article-grids .art-grid .art-link a {
    width: 60%;
    height: 38px;
    font-size: 18px;
    padding: 0;
    line-height: 38px;
  }
  .article .article-grids .art-grid .art .art-title h3 {
    font-size: 18px;
  }
}

/* start evaluate artcle  */

.article .article-content,
.medican-id .med-id-content {
  margin-top: 16px;
}
.article .article-content .main-container,
.medican-id .med-id-content .main-container {
  padding: 23px;
  border-radius: 26px;
  background-color: white;
}
.article .article-content .main-container .cont,
.medican-id .med-id-content .main-container .cont {
  gap: 70px;
}
.article .article-content .main-container .cont .article-title .mobile-creator {
  display: none;
}

.article .article-content .main-container .cont .article-title {
  flex: 1;
}
.article .article-content .main-container .cont .article-title h2,
.medican-id .med-id-content .main-container .cont section h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 119%;
  color: var(--main-color);
}
.article .article-content .main-container .cont .article-title p,
.medican-id .med-id-content .main-container .cont section p {
  font-size: 32px;
  font-weight: 400;
  line-height: 119%;
  color: black;
}

.article .article-content .p-mobile,
.medican-id .med-id-content .main-container .p-mobile {
  display: none;
}

.article .article-content .main-container .cont .image-details {
  width: 384px;
  height: 384px;
  border-radius: 26px;
  /* background-color: #eee; */
}

.article .article-content .main-container .cont .image-details img,
.medican-id .med-id-content .main-container .cont aside .main-img {
  width: 384px;
  max-width: 384px;
  height: 250px;
  border-radius: 26px;
  background-color: #eee;
  margin-left: auto;
}

.article .article-content .main-container .cont .image-details .creator-web {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (width>1600) {
  .article .article-content .main-container .cont .image-details {
    /* background-color: #eee; */
    flex: 0.5;
    text-align: center;
  }
  .article .article-content .main-container .cont .image-details .creator-web {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    text-align: center;
  }
}

.article
  .article-content
  .main-container
  .cont
  .image-details
  .creator-web
  .creator-name {
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
  color: black;
}
.article
  .article-content
  .main-container
  .cont
  .image-details
  .creator-web
  .time {
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  color: black;
}

@media (width < 1200px) {
  .article .article-content .main-container .cont .image-details {
    width: 192px;
    height: 192px;
  }

  .article .article-content .main-container .cont .image-details img,
  .medican-id .med-id-content .main-container .cont aside .main-img {
    width: 192px;
    max-width: 192px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
  }
  .article
    .article-content
    .main-container
    .cont
    .image-details
    .creator-web
    .creator-name {
    font-size: 26px;
  }
  .article
    .article-content
    .main-container
    .cont
    .image-details
    .creator-web
    .time {
    font-size: 20px;
  }
}
@media (width < 992px) {
  .article .article-content .main-container .cont,
  .medican-id .med-id-content .main-container .cont {
    gap: 40px;
  }
  .article .article-content .main-container .cont .article-title h2,
  .medican-id .med-id-content .main-container .cont section h2 {
    font-size: 48px;
  }
  .article .article-content .main-container .cont .article-title p,
  .medican-id .med-id-content .main-container .cont section p {
    font-size: 28px;
  }
}

@media (width < 768px) {
  .article,
  .medican-id {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .article .title,
  .medican-id .title {
    height: auto;
  }
  .article .article-content .main-container .cont,
  .medican-id .med-id-content .main-container .cont {
    gap: 5px;
  }
  .medican-id .med-id-content .main-container .cont {
    align-items: center;
  }
  .article .article-content .main-container .cont .article-title h2,
  .medican-id .med-id-content .main-container .cont section h2 {
    font-size: 32px;
    font-weight: 800;
  }
  .article .article-content .main-container .cont .article-title p,
  .medican-id .med-id-content .main-container .cont section p {
    display: none;
  }

  .article .article-content .main-container .cont .image-details {
    width: 100px;
    height: 100px;
    border-radius: 18px;
  }

  .article .article-content .main-container .cont .image-details img,
  .medican-id .med-id-content .main-container .cont aside .main-img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 18px;
  }
  .article .article-content .main-container .cont .image-details .creator-web,
  .medican-id .med-id-content .main-container .cont aside .available {
    display: none;
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator {
    display: flex;
    flex-direction: column;
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator
    .creator-name {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: rgba(45, 46, 49, 1);
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator
    .time {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: rgba(45, 46, 49, 1);
  }
  .article .article-content .p-mobile,
  .medican-id .med-id-content .main-container .p-mobile {
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 118.8%;
    margin-top: 15px;
    width: 100%;
  }
}

/* start medican  */

.medican,
.charity {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f7fb;
}

.medican .med-title .main-container .search p,
.charity .charity-title .main-container .search p {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.medican .med-title .main-container .search div,
.charity .charity-title .main-container .search div {
  width: 443px;
  border-radius: 9px;
  color: rgba(45, 46, 49, 1);
  background-color: rgba(184, 188, 196, 1);
  padding-right: 20px;
  height: 59px;
  border: 2px solid rgba(184, 188, 196, 1);
  overflow: hidden;
  transition: 0.3s;
}

.medican .med-title .main-container .search div input,
.charity .charity-title .main-container .search div input {
  background-color: transparent;
  color: rgba(45, 46, 49, 1);
  padding: 20px;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  flex-grow: 1;
  transition: 0.3s;
  background-color: rgba(184, 188, 196, 1);
}
.medican .med-title .main-container .search div input::placeholder,
.charity .charity-title .main-container .search div input::placeholder {
  color: rgba(45, 46, 49, 1);
}

.medican .med-title .main-container .search div input:focus,
.charity .charity-title .main-container .search div input:focus,
.medican .med-title .main-container .search div:has(input:focus),
.charity .charity-title .main-container .search div:has(input:focus) {
  background-color: white;
}
.medican .med-title .main-container .search div:has(input:focus),
.charity .charity-title .main-container .search div:has(input:focus) {
  border: 2px solid #00225c;
}

.medican .med-title .main-container .search div svg,
.charity .charity-title .main-container .search div svg {
  font-size: 30px;
  color: rgba(45, 46, 49, 1);
  cursor: pointer;
}
.medican .med-title .main-container .title,
.charity .charity-title .main-container .title {
  margin: 0;
}

.medican .med-content .main-container {
  /* padding: 10px; */
  padding-right: 0;
  border: 3px solid #898c93;
  border-radius: 15px;
}

.medican .med-content .main-container section {
  flex-grow: 1;
  padding: 10px;
}
.medican .med-content .main-container section .card {
  max-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
}
.medican
  .med-content
  .main-container
  section
  .card:nth-child(:nth-last-of-type) {
  margin-bottom: 10px;
}
.medican .med-content .main-container section .card .card-title {
  line-height: 119%;
}
.medican .med-content .main-container section .card .card-title h2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 15px;
}

.medican .med-content .main-container section .card .card-title p {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-bottom: 15px;
}
.medican .med-content .main-container section .card .card-title a {
  width: 440px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--main-color);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 9px;
  font-family: sans-serif;
}
.medican .med-content .main-container section .card .card-title a:hover {
  background-color: var(--color-hover);
}
.medican .med-content .main-container section .card img {
  width: 159px;
  height: 159px;
  background-color: #eee;
  border-radius: 18px;
}
.med-content aside {
  flex-basis: 200px;
  padding: 10px;
  padding-right: 0;
}
.med-content aside h2 {
  text-align: end;
  background: linear-gradient(90deg, rgba(156, 193, 255, 0) 0%, #9cc1ff 100%);
  height: 54px;
  line-height: 54px;
  padding-right: 10px;
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 15px;
}
.med-content aside p {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: var(--second-color);
  margin-right: 10px;
  border-radius: 9px;
  transition: 0.3s;
  font-size: 24px;
  color: #2d2e31;
  font-weight: 700;
}
.med-content aside p:hover {
  background-color: var(--second-color-hover);
}

.medican-id .med-id-content .main-container .cont aside .available {
  margin-top: 30px;
}
.medican-id .med-id-content .main-container .cont aside .available > h3,
.medican-id .main-container .available-mobile > h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: var(--main-color);
}

.medican-id .med-id-content .main-container .cont aside .available .pharmacine,
.medican-id .main-container .available-mobile .pharmacine {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  height: 125px;
  gap: 10px;
  background-color: var(--main-color);
}
.medican-id
  .med-id-content
  .main-container
  .cont
  aside
  .available
  .pharmacine
  img,
.medican-id .main-container .available-mobile .pharmacine img {
  width: 78px;
  max-width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #fff;
}
.medican-id
  .med-id-content
  .main-container
  .cont
  aside
  .available
  .pharmacine
  .pharm-content,
.medican-id .main-container .available-mobile .pharmacine .pharm-content {
  line-height: 1;
}

.medican-id
  .med-id-content
  .main-container
  .cont
  aside
  .available
  .pharmacine
  .pharm-content
  h3,
.medican-id .main-container .available-mobile .pharmacine .pharm-content h3 {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin-bottom: 13px;
}
.medican-id
  .med-id-content
  .main-container
  .cont
  aside
  .available
  .pharmacine
  .pharm-content
  p,
.medican-id .main-container .available-mobile .pharmacine .pharm-content p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.medican-id div.bg {
  background-color: rgba(246, 247, 251, 1) !important;
  display: none;
}
.medican-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  height: 500px;
  max-height: 500px;
}
@media (width < 1600px) {
  .medican .med-title .main-container .title h2,
  .charity .card-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p,
  .charity .card-title .main-container .title p {
    font-size: 28px;
  }
  .medican .med-title .main-container .search p,
  .charity .charity-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div,
  .charity .charity-title .main-container .search div {
    width: 350px;
  }
}

@media (width < 1200px) {
  .medican .med-title .main-container .title h2,
  .charity .card-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p,
  .charity .charity-title .main-container .title p {
    font-size: 24px;
  }
  .medican .med-title .main-container .search p,
  .charity .charity-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div,
  .charity .charity-title .main-container .search div {
    width: 350px;
  }

  .medican .med-content .main-container section .card .card-title h2 {
    font-size: 28px;
  }
  .medican .med-content .main-container section .card .card-title p {
    font-size: 18px;
  }
  .medican .med-content .main-container section .card .card-title a {
    width: 300px;
    font-size: 18px;
  }

  .medican .med-content .main-container section .card img {
    width: 100px;
    height: 100px;
  }
}

.medican-id .container .available-mobile {
  width: 100%;
}

@media (width < 992px) {
  .medican .med-title .main-container .title h2,
  .charity .charity-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p,
  .charity .charity-title .main-container .title p {
    font-size: 18px;
  }
  .medican .med-title .main-container .search p,
  .charity .charity-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div,
  .charity .charity-title .main-container .search div {
    width: 300px;
  }
  .medican .med-title .main-container .search div input,
  .charity .charity-title .main-container .search div input {
    font-size: 20px;
  }
  .medican .med-title .main-container .search div svg,
  .charity .charity-title .main-container .search div svg {
    font-size: 24px;
  }
}
@media (width < 768px) {
  .medican,
  .charity {
    padding: 30px 0;
  }
  .medican .med-title,
  .charity .charity-title {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .medican .med-title .main-container,
  .charity .charity-title .main-container {
    flex-direction: column-reverse;
  }
  .medican .med-title .main-container .search,
  .charity .charity-title .main-container .search {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .medican .med-title .main-container .search div,
  .charity .charity-title .main-container .search div {
    width: 100%;
  }
  .medican .med-title .main-container .search p,
  .charity .charity-title .main-container .search p {
    font-size: 30px;
  }
  .medican .med-title .main-container .search div input,
  .charity .charity-title .main-container .search div input {
    font-size: 20px;
  }
  .medican .med-content {
    margin-top: 20px;
  }
  .medican .med-content .main-container {
    border: none;
  }
  .medican .med-content .main-container section {
    padding: 0;
  }

  .medican .med-content .main-container section .card {
    padding: 10px;
  }
  .medican .med-content .main-container section .card .card-title h2 {
    font-size: 26px;
  }
  .medican .med-content .main-container section .card .card-title p {
    display: none;
  }
  .medican .med-content .main-container section .card .card-title a {
    width: 190px;
    height: 37px;
  }
  .medican .med-content .main-container aside {
    display: none;
  }
  .article .article-content .main-container,
  .medican-id .med-id-content .main-container {
    padding: 10px;
  }
  .medican-id div.bg {
    background-color: rgba(246, 247, 251, 1) !important;
    display: block;
  }
}
/* end medican  */

/* start evaluate  */

.eval {
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}
.eval .main-container .eval-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.eval .main-container .eval-title h2 {
  font-size: 96px;
  font-weight: 800;
  color: var(--main-color);
}
.eval .main-container .eval-title p {
  color: var(--main-color);
  font-size: 64px;
  font-weight: 500px;
  margin-bottom: 10px;
}
.eval .main-container .eval-title .eval-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  padding-bottom: 40px;
}
.eval .main-container .eval-title .eval-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6c6c6c 0%,
    rgba(210, 210, 210, 0) 100%
  );
}

.eval .main-container .eval-title .eval-links a {
  background-color: var(--main-color);
  font-size: 24px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  height: 59px;
  border-radius: 9px;
  line-height: 59px;
  text-align: center;
  width: 440px;
  font-family: sans-serif;
}
.eval .main-container .eval-title .eval-links a:hover {
  background-color: var(--color-hover);
}

.eval .last-autism {
  margin-top: 40px;
  background: linear-gradient(90deg, #9cc1ff 0%, rgba(156, 193, 255, 0) 55%);
}
.eval .last-autism h2 {
  font-size: 64px;
  font-weight: 800;
  color: var(--main-color);
}

.eval .done-autism .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.eval .done-autism .main-container p {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-color);
  text-align: center;
}

.choose-child-test {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.62);
}
.choose-child-test .choose {
  width: 624px;
  height: 642px;
  background-color: white;
  padding: 20px;
  border-radius: 51px;
  /* text-align: center; */
  margin: 120px auto;
  position: relative;
}
.choose-child-test .choose h3 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: var(--main-color);
}

.choose-child-test .choose .child-info {
  padding-left: 73px;
  padding-right: 73px;
}
.choose-child-test .choose .child-info .child {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 20px;
  border-radius: 28px;
}
.choose-child-test .choose > a {
  height: 59px;
  background-color: var(--main-color);
  color: white;
  margin-left: 73px;
  margin-right: 73px;
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.3s;
}
.choose-child-test .choose > a:hover {
  background-color: var(--color-hover);
}
.choose-child-test .choose .child-info .child:not(:last-of-type) {
  margin-bottom: 10px;
}
.choose-child-test .choose .child-info .child:nth-of-type(odd) {
  background-color: var(--main-color);
}
.choose-child-test .choose .child-info .child:nth-of-type(even) {
  background-color: var(--second-color);
}
.choose-child-test .choose .child-info .child .info {
  display: flex;
  align-items: center;
  gap: 13px;
  line-height: 119%;
}
.choose-child-test .choose .child-info .child .info h2 {
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-bottom: 13px;
}
.choose-child-test .choose .child-info .child .info p {
  font-size: 32px;
  font-weight: 500;
  color: white;
}
.choose-child-test .choose .child-info .child img {
  width: 78px;
  max-width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: white;
}
.choose-child-test .choose .child-info .child span.age {
  align-self: flex-start;
  color: white;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}
.choose-child-test .start {
  margin-left: 73px;
  margin-right: 73px;
  width: 438px;
  position: absolute;
  bottom: 40px;
}
.choose-child-test .start a {
  height: 59px;
  line-height: 59px;
  color: white;
  border-radius: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  width: 100%;
  transition: 0.3s;
  font-family: sans-serif;
}
.choose-child-test .start a:hover {
  background-color: var(--color-hover);
}
@media (width < 768px) {
  .eval {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .eval .main-container .eval-title h2 {
    font-size: 48px;
  }
  .eval .main-container .eval-title p {
    font-size: 32px;
  }
  .eval .main-container .eval-title .eval-links {
    flex-direction: column;
    padding: 0;
    gap: 12px;
  }

  .eval .main-container .eval-title .eval-links a {
    width: 100%;
  }
  .eval .main-container .eval-title .eval-links::before {
    display: none;
  }
  .eval .last-autism {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #9cc1ff 0%,
      rgba(156, 193, 255, 0) 100%
    );
  }
  .eval .done-autism .main-container {
    align-items: start;
  }
  .eval .last-autism h2 {
    font-size: 38px;
    text-align: center;
  }
  .eval .done-autism .main-container p {
    font-size: 30px;
    font-weight: 500;
  }

  .choose-child-test .choose {
    width: calc(100% - 40px);
    height: 400px;
    border-radius: 18px;
  }
  .choose-child-test .choose h3 {
    font-size: 28px;
  }
  .choose-child-test .choose .child-info {
    padding: 0px;
  }
  .choose-child-test .choose .child-info .child img {
    width: 70px;
    height: 70px;
    max-width: 70px;
  }
  .choose-child-test .choose .child-info .child .info {
    gap: 5px;
  }
  .choose-child-test .choose .child-info .child .info h2 {
    font-size: 18px;
  }
  .choose-child-test .choose .child-info .child .info p {
    font-size: 16px;
  }
  .choose-child-test .choose .child-info .child span.age {
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
  }
  .choose-child-test .start {
    width: calc(100% - 30px);

    margin: 0 auto;
    bottom: 20px;
  }
  .choose-child-test .choose > a {
    width: 100%;
    margin: 0 auto;
  }
  .choose-child-test .start a {
    margin: 0 auto;
  }
}

.eval-loading .main-container .eval-title .eval-links::before {
  background: white;
}
