:root {
  --main-color-logo: rgba(9, 54, 75, 1);
  --second-color-logo: rgba(47, 188, 215, 1);
  --main-color: rgba(19, 62, 135, 1);
  --second-color: rgba(143, 173, 225, 1);
  --second-color-hover: rgba(92, 130, 195, 1);
  --color-hover: rgba(0, 34, 92, 1);
  --main-font-tajawal: "Tajawal";
}

.education-res,
.article {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgba(246, 247, 251, 1);
}
.education-res .title,
.article .title,
.medican .med-title {
  text-align: right;
  background: linear-gradient(90deg, rgba(156, 193, 255, 0) 45%, #9cc1ff 100%);
  display: flex;
  align-items: center;
  height: 112px;
  color: var(--main-color);
  font-family: var(--main-font-tajawal);
  line-height: 119%;
}
.education-res .title h2,
.article .title h2,
.medican .med-title .main-container .title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.education-res .title p,
.article .title p,
.medican .med-title .main-container .title p {
  font-size: 36px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .education-res .title h2,
  .article .title h2,
  .medican .med-title .main-container .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .education-res .title p,
  .article .title p,
  .medican .med-title .main-container .title p {
    font-size: 28px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .education-res .title,
  .medican .med-title {
    background: white;
    text-align: center;
    width: 100%;
  }
  .article .title {
    background: transparent;
  }
  .education-res .title h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .education-res .title p,
  .medican .med-title .main-container .title p {
    font-size: 18px;
    font-weight: 500;
  }
  .article .title h2,
  .article .title p {
    display: none;
  }
}

.article .article-grids {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article .article-grids .art-grid {
  width: 70%;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 27px;
  display: flex;

  flex-direction: column;
  gap: 12px;
}

.article .article-grids .art-grid .art {
  display: flex;
  align-items: center;
  gap: 37px;
}
.article .article-grids .art-grid .art .art-title {
  width: calc(100% - (158px + 37px));
}

.article .article-grids .art-grid .art .art-title h3 {
  font-size: 36px;
  font-weight: 800;
  color: var(--main-color);
}
.article .article-grids .art-grid .art .art-title p {
  font-size: 24px;
  font-weight: 400;
  color: black;
  height: 80px;
  line-height: 119%;
  overflow: hidden;
}

.article .article-grids .art-grid .art .art-title .creator-web {
  display: none;
}

.article .article-grids .art-grid .art-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article .article-grids .art-grid .art-link a {
  padding: 22px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 59px;
  width: 350px;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.article .article-grids .art-grid .art-link a:hover {
  background-color: var(--color-hover);
}

.article .article-grids .art-grid .art-link .creator-web {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: 170px;
}

.article .article-grids .art-grid .art-link .creator-web span.creator-name {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
}

.article .article-grids .art-grid .art-link .creator-web span.time {
  font-size: 15px;
  font-weight: 300;
}
.article
  .article-grids
  .art-grid
  .art-link
  .creator-web
  .article
  .article-grids
  .art-grid
  .art
  .image {
  width: 158px !important;
  height: 158px !important;
  border-radius: 18px;
  background-color: #eee;
}
.article .article-grids .art-grid .art .image img {
  width: 158px !important;
  max-width: 158px;
  height: 158px !important;
  border-radius: 18px;
  background-color: #eee;
}

@media (max-width: 1199px) {
  .article .article-grids .art-grid {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .article .article-grids .art-grid .art .art-title {
    width: 100% !important;
  }

  .article .article-grids .art-grid .art-link .creator-web {
    display: none;
  }
  .article .article-grids .art-grid .art {
    justify-content: space-between;
  }
  .article .article-grids .art-grid {
    position: relative;
  }
  .article .article-grids .art-grid .art .image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
  }
  .article .article-grids .art-grid .art .image img {
    width: 100px;
    max-width: 100px;
    height: 100px !important;
  }
  .article .article-grids .art-grid .art .art-title p {
    display: none;
  }
  .article .article-grids .art-grid .art .art-title .creator-web {
    display: flex;
  }
  .article .article-grids .art-grid .art .art-title .creator-web span {
    font-size: 18px;
    font-weight: 200;
    color: rgba(45, 46, 49, 1);
    font-style: italic;
  }
  .article .article-grids .art-grid .art-link a {
    width: 60%;
    height: 38px;
    font-size: 18px;
    padding: 0;
    line-height: 38px;
  }
  .article .article-grids .art-grid .art .art-title h3 {
    font-size: 28px;
  }
}

/* start evaluate artcle  */

.article .article-content {
  margin-top: 16px;
}
.article .article-content .main-container {
  padding: 23px;
  border-radius: 26px;
  background-color: white;
}
.article .article-content .main-container .cont {
  gap: 70px;
}
.article .article-content .main-container .cont .article-title .mobile-creator {
  display: none;
}

.article .article-content .main-container .cont .article-title h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 119%;
  color: var(--main-color);
}
.article .article-content .main-container .cont .article-title p {
  font-size: 32px;
  font-weight: 400;
  line-height: 119%;
  color: black;
}

.article .article-content .p-mobile {
  display: none;
}

.article .article-content .main-container .cont .image-details {
  width: 384px;
  height: 384px;
  border-radius: 26px;
  background-color: #eee;
}

.article .article-content .main-container .cont .image-details img {
  width: 384px;
  max-width: 384px;
  height: 384px;
  border-radius: 26px;
}

.article .article-content .main-container .cont .image-details .creator-web {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article
  .article-content
  .main-container
  .cont
  .image-details
  .creator-web
  .creator-name {
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
  color: black;
}
.article
  .article-content
  .main-container
  .cont
  .image-details
  .creator-web
  .time {
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  color: black;
}
@media (width < 1200px) {
  .article .article-content .main-container .cont .image-details {
    width: 192px;
    height: 192px;
  }

  .article .article-content .main-container .cont .image-details img {
    width: 192px;
    max-width: 192px;
    height: 192px;
  }
  .article
    .article-content
    .main-container
    .cont
    .image-details
    .creator-web
    .creator-name {
    font-size: 26px;
  }
  .article
    .article-content
    .main-container
    .cont
    .image-details
    .creator-web
    .time {
    font-size: 20px;
  }
}
@media (width < 992px) {
  .article .article-content .main-container .cont {
    gap: 40px;
  }
  .article .article-content .main-container .cont .article-title h2 {
    font-size: 48px;
  }
  .article .article-content .main-container .cont .article-title p {
    font-size: 28px;
  }
}

@media (width < 768px) {
  .article {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .article .title {
    height: auto;
  }
  .article .article-content .main-container .cont {
    gap: 5px;
  }
  .article .article-content .main-container .cont .article-title h2 {
    font-size: 32px;
    font-weight: 800;
  }
  .article .article-content .main-container .cont .article-title p {
    display: none;
  }

  .article .article-content .main-container .cont .image-details {
    width: 100px;
    height: 100px;
    border-radius: 18px;
  }

  .article .article-content .main-container .cont .image-details img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 18px;
  }
  .article .article-content .main-container .cont .image-details .creator-web {
    display: none;
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator {
    display: flex;
    flex-direction: column;
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator
    .creator-name {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: rgba(45, 46, 49, 1);
  }
  .article
    .article-content
    .main-container
    .cont
    .article-title
    .mobile-creator
    .time {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: rgba(45, 46, 49, 1);
  }
  .article .article-content .p-mobile {
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 118.8%;
    margin-top: 15px;
    width: 100%;
  }
}

/* start medican  */

.medican {
  padding-top: 50px;
  padding-bottom: 50px;
}

.medican .med-title .main-container .search p {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.medican .med-title .main-container .search div {
  width: 443px;
  border-radius: 9px;
  color: rgba(45, 46, 49, 1);
  background-color: rgba(184, 188, 196, 1);
  padding-right: 20px;
  height: 59px;
  border: 2px solid rgba(184, 188, 196, 1);
  overflow: hidden;
  transition: 0.3s;
}

.medican .med-title .main-container .search div input {
  background-color: transparent;
  color: rgba(45, 46, 49, 1);
  padding: 20px;
  border: none;
  outline: none;
  font-size: 24px;
  flex-grow: 1;
  transition: 0.3s;
  background-color: rgba(184, 188, 196, 1);
}
.medican .med-title .main-container .search div input::placeholder {
  color: rgba(45, 46, 49, 1);
}

.medican .med-title .main-container .search div input:focus,
.medican .med-title .main-container .search div:has(input:focus) {
  background-color: white;
}
.medican .med-title .main-container .search div:has(input:focus) {
  border: 2px solid #00225c;
}

.medican .med-title .main-container .search div svg {
  font-size: 30px;
  color: rgba(45, 46, 49, 1);
  cursor: pointer;
}
.medican .med-title .main-container .title {
  margin: 0;
}
@media (width < 1600px) {
  .medican .med-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p {
    font-size: 28px;
  }
  .medican .med-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div {
    width: 350px;
  }
}

@media (width < 1200px) {
  .medican .med-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p {
    font-size: 24px;
  }
  .medican .med-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div {
    width: 330px;
  }
}

@media (width < 992px) {
  .medican .med-title .main-container .title h2 {
    font-size: 38px;
  }
  .medican .med-title .main-container .title p {
    font-size: 18px;
  }
  .medican .med-title .main-container .search p {
    font-size: 38px;
  }
  .medican .med-title .main-container .search div {
    width: 300px;
  }
  .medican .med-title .main-container .search div input {
    font-size: 20px;
  }
  .medican .med-title .main-container .search div svg {
    font-size: 24px;
  }
}
@media (width < 768px) {
  .medican {
    padding: 30px 0;
  }
  .medican .med-title {
    height: auto;
  }
  .medican .med-title .main-container {
    flex-direction: column-reverse;
  }
  .medican .med-title .main-container .search {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .medican .med-title .main-container .search div {
    width: 100%;
  }
  .medican .med-title .main-container .search p {
    font-size: 30px;
  }
  .medican .med-title .main-container .search div input {
    font-size: 24px;
  }
}
/* end medican  */
