footer {
  background-color: rgba(45, 46, 49, 1);
  padding: 70px 0;
}

footer .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .main-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
footer .main-container .logo img {
  width: 104.08px;
  height: 95px;
}
footer .main-container .logo h1 {
  position: relative;
  font-size: 96px;
  font-weight: 700;
  color: white;
  font-family: "Tajawal";
}
footer .main-container .logo h1 span {
  font-size: 40px;
  font-weight: 400;
  color: rgba(47, 188, 215, 1);
  font-family: "Gilroy", sans-serif;
  font-style: italic;
}

footer .main-container p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 28.51px;
  font-family: "Tajawal";
  color: rgba(137, 140, 147, 1);
}

@media (max-width: 767px) {
  footer .main-container .logo {
    flex-direction: column;
  }
  footer .main-container .logo img {
    width: 77.78px;
    height: 71px;
  }
  footer .main-container .logo h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: -10px;
  }
  footer .main-container .logo h1 span {
    font-size: 20px;
    font-weight: 40px;
  }
  footer .main-container p {
    font-size: 15px;

    line-height: 119%;
    width: 90%;
  }
}
