:root {
  --main-color-logo: rgba(9, 54, 75, 1);
  --second-color-logo: rgba(47, 188, 215, 1);
  --main-color: rgba(19, 62, 135, 1);
  --second-color: rgba(143, 173, 225, 1);
  --second-color-hover: rgba(92, 130, 195, 1);
  --color-hover: rgba(0, 34, 92, 1);
}
.nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(184, 188, 196, 1);
  height: 69px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.nav-bar .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 54px;
  height: 54px;
}

.main-container .logo h1 {
  /* position: relative; */
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color-logo);
  font-family: "Tajawal";
}
.main-container .logo h1 span {
  font-size: 20px;
  font-weight: 400;
  color: var(--second-color-logo);
  font-family: "Gilroy", sans-serif;
  font-style: italic;
}

.nav-bar .main-container .header-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  font-size: 24px;
  font-weight: 500;

  /* display: none; */
}

.nav-bar .main-container .header-links li a {
  cursor: pointer;
  color: rgba(45, 46, 49, 1);
}
.nav-bar .main-container .header-links li .active {
  color: rgba(8, 47, 113, 1);
}

.nav-bar .main-container .auth-header {
  display: flex;
  gap: 9px;
  /* margin-bottom: 10px; */
}

.nav-bar .main-container .auth-header a {
  width: 164px;
  border-radius: 9px;
  /* padding: 22px 20px; */

  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Tajawal";
  cursor: pointer;
  transition: 0.3s;
}
.nav-bar .user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar .user-box h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2d2e31;
}
.nav-bar .user-box svg {
  font-size: 40px;
  background-color: white;
}
@media (width < 992px) {
  .nav-bar {
    height: auto;
  }
  .nav-bar .main-container {
    flex-wrap: wrap;
    gap: 10px;
  }
  .nav-bar .main-container .logo {
    -ms-flex-order: 1;
    order: 1;
  }
  .nav-bar .main-container .header-links {
    -ms-flex-order: 3;
    order: 3;
    align-self: center;
    width: 100%;
  }
  .nav-bar .main-container > a {
    -ms-flex-order: 2;
    order: 2;
  }
  .nav-bar .main-container .auth-header {
    order: 4;
  }
}
@media (max-width: 767px) {
  .nav-bar .main-container {
  }
  .main-container .logo {
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-bottom: 10px; */
  }
  .main-container .logo a {
    display: flex;
    align-items: center;
    width: auto;
  }
  .main-container .logo h1 {
    margin-top: 15px;
  }
  .nav-bar {
    height: auto;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    overflow: visible !important;
  }
  .nav-bar .main-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
    width: 100%;
    flex-wrap: wrap;
  }
  .nav-bar .main-container .logo {
    width: auto;
  }
  .nav-bar .main-container .auth-header {
    width: 100%;
  }
  .nav-bar .main-container .auth-header a {
    width: calc(100%);
    font-size: clamp(14px, 4vw, 24px);
    line-height: 45px;
  }
  .nav-bar .main-container .header-links {
    position: absolute;
    flex-direction: column;
    background-color: #e7ebf4;
    top: 101.5%;
    left: 0;
    z-index: 1;
    gap: 1px;
    transition: 0.3s;
  }
  .nav-bar .main-container .header-links li {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 3px solid #bfbfbf;
  }
  .nav-bar .main-container .header-links li a {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 800;
  }
  .nav-bar .main-container .header-links button {
    color: #630000;
    width: 100%;
    text-align: start;
  }
  .nav-bar .main-container > svg {
    order: 4;
    font-size: 40px;
  }
}
.nav-bar .main-container .auth-header a:first-of-type {
  background-color: var(--second-color);
  color: rgba(45, 46, 49, 1);
}
.nav-bar .main-container .auth-header a:first-of-type:hover {
  background-color: var(--second-color-hover);
}

.nav-bar .main-container .auth-header a:last-of-type {
  background-color: var(--main-color);
  color: white;
}

.nav-bar .main-container .auth-header a:last-of-type:hover {
  background-color: var(--color-hover);
}
