:root {
  --main-color-logo: rgba(9, 54, 75, 1);
  --second-color-logo: rgba(47, 188, 215, 1);
  --main-color: rgba(19, 62, 135, 1);
  --second-color: rgba(143, 173, 225, 1);
  --second-color-hover: rgba(92, 130, 195, 1);
  --color-hover: rgba(0, 34, 92, 1);
}

.Welcome-page {
  padding-top: 125px;
  padding-bottom: 82.24px;
  position: relative;
}
.Welcome-page .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 91px;
  overflow: hidden;
}

.main-container .title {
  margin-bottom: 94px;
}

.Welcome-page .main-container .title h1 {
  font-size: 76px;
  font-weight: 700;
  font-family: "Tajawal";
  line-height: 90.29px;
  width: 600px;
  color: white;
}

.Welcome-page .main-container .title h1 span {
  font-weight: 500;
}
.Welcome-page .main-container .auth-welcome {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.Welcome-page .main-container .auth-welcome a,
.auth-join a {
  width: 440px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 20px;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Tajawal";
  transition: 0.3s;
}
.Welcome-page .main-container .auth-welcome a:first-of-type,
.auth-join a:first-of-type {
  background-color: var(--main-color);
  color: white;
}
.Welcome-page .main-container .auth-welcome a:first-of-type:hover,
.auth-join a:first-of-type:hover {
  background-color: var(--color-hover);
}

.Welcome-page .main-container .auth-welcome a:last-of-type,
.auth-join a:last-of-type {
  background-color: var(--second-color);
  color: rgba(45, 46, 49, 1);
}
.Welcome-page .main-container .auth-welcome a:last-of-type:hover,
.auth-join a:last-of-type:hover {
  background-color: var(--second-color-hover);
}
.Welcome-page .main-container .welcome-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Welcome-page .main-container .welcome-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .Welcome-page {
    /* height: calc(100vh - 380px); */
    overflow: hidden;
    padding-top: 60px;
  }
  .Welcome-page .main-container {
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
  }
  .main-container .title {
    margin-bottom: 90px;
  }
  .Welcome-page .main-container .title h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    /* text-wrap: wrap; */
    line-height: 118%;
  }

  .Welcome-page .main-container .auth-welcome a,
  .auth-join a {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

/* end welcome  */

/* start early  */
.early,
.easy {
  position: relative;
  /* background-color: rgba(223, 239, 253, 1); */
  padding-top: 50px;
  padding-bottom: 50px;
}

.early .back-image,
.easy .back-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.early .back-image-2,
.easy .back-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.early .main-container .early-top,
.easy .main-container .easy-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 25px;
}

.early .main-container .early-top h1,
.easy .main-container .easy-top h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 119%;
  color: rgba(45, 46, 49, 1);
  width: 600px;
}
.early .main-container .early-top img,
.easy .main-container .easy-top img {
  width: 45%;
}
.early .main-container .early-grid {
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(392px, 1fr));
  gap: 4px;
}

.early .main-container .early-grid div {
  padding: 24px 16px;
  background-color: rgba(204, 223, 255, 1);
  border-radius: 8px;
}
.early .main-container .early-grid div h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 140%;
  color: rgba(42, 42, 42, 1);
  margin-bottom: 5px;
}

.early .main-container .early-grid div p {
  font-size: 20px;
  font-family: "Lato";
  font-weight: 400;
  color: rgba(75, 75, 75, 1);
}
/* .early .early-top .easy-content {
  width: 740px;
} */

.easy .easy-top .easy-content p {
  font-size: 32px;
  font-weight: 500;
  line-height: 119%;
  color: rgba(45, 46, 49, 1);
  margin-top: 25px;
}
@media (max-width: 991px) {
}
@media (max-width: 1199px) {
  .easy .main-container .easy-top {
    padding: 0;
  }
  .easy .main-container .easy-top h1 {
    font-size: 38px;
    width: auto;
    /* margin-bottom: 5px; */
  }
  .easy .easy-top .easy-content p {
    font-size: 28px;
    margin-top: 10px;
  }
}
/* end early  */

.support {
  position: relative;
  padding: 80px 0;
  background-color: rgba(223, 239, 253, 1);
}
.support .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.support .main-container h1.main-title {
  font-size: 64px;
  font-weight: 800;
  font-family: "Tajawal";
  margin-bottom: 40px;
}

.support .main-container .support-component {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 60px;
}
.support .main-container .support-component div {
  text-align: center;
  border-radius: 28px;
  background-color: white;
  padding: 25px;
  z-index: 11;
  border: 6px solid white;
  font-family: "Tajawal";
  margin-left: auto;
  margin-right: auto;
}

.support .main-container .support-component div:last-of-type {
  border: 6px solid rgba(19, 62, 135, 1);
  color: rgba(19, 62, 135, 1);
}
.support .main-container .support-component div h2 {
  font-size: 40px;

  font-weight: 900;
}
.support .main-container .support-component div p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}
.support .back-image {
  position: absolute;
  bottom: 0;

  left: 0;
}

@media (max-width: 767px) {
  .support .main-container {
    justify-content: center;
  }
  .support .main-container h1.main-title {
    font-size: 36px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .support .main-container .support-component {
    flex-direction: column;
    gap: 27px;
  }
  .support .main-container .support-component div {
    width: 318px;
  }
  .support .main-container .support-component div h2 {
    font-size: 24px;
  }
  .support .main-container .support-component div p {
    font-size: 13px;
  }
  .support .main-container .support-component div img {
    width: 44px;
  }
  .support .back-image {
    bottom: -5px;
  }
  .support .back-image img {
    width: 266px;
  }
  .support .back-image-2 img {
    width: 266px;
  }
}

/* end support  */

.support .back-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

/* end support  */

.join-in-home {
  padding-top: 100px;
  padding-bottom: 150px;
  background: linear-gradient(90deg, #fff 53%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  overflow: hidden;
}
.join-in-home .join-image img {
  width: 964.382px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}
.join-in-home .main-container {
  text-align: center;
}

.join-in-home .main-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}
.join-in-home .main-container .logo img {
  width: 104.08px;
  height: 95px;
}
.join-in-home .main-container .logo h1 {
  font-size: 96px;
  font-weight: 700;
}
.join-in-home .main-container .logo h1 span {
  font-size: 40px;
}

.join-in-home .main-container > h1 {
  font-size: 96px;
  font-weight: 800;
  color: rgba(4, 40, 103, 1);
}

.join-in-home .main-container .auth-join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  margin-top: 70px;
}

.join-in-home .main-container .auth-join a:last-of-type {
  color: rgba(45, 46, 49, 1);
}

@media (max-width: 767px) {
  .join-in-home .join-image img {
    width: 440px;
    height: 100%;
    right: -100px;
  }
  .join-in-home .main-container .logo {
    flex-direction: column;
  }
  .join-in-home .main-container .logo h1 {
    font-size: 40px;
    font-weight: 700;
    /* margin-top: -10px; */
  }
  .join-in-home .main-container .logo h1 span {
    font-size: 20px;
  }
  .join-in-home .main-container > h1 {
    font-size: 36px;
    font-weight: 800;
    margin-top: 25px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
  .join-in-home .main-container .auth-join {
    flex-direction: column;
    gap: 12px;
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .early .main-container .early-top h1 {
    font-size: 24px;
    width: 100%;
  }

  .easy .main-container .easy-top h1 {
    font-size: 24px;
  }
  .easy .easy-top .easy-content p {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .early .main-container .early-top {
    padding-left: 0;
    padding-right: 0;
  }
  .early .main-container .early-top {
    flex-direction: column;
    width: 100%;
  }
  .early .main-container .early-top h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .early .main-container .early-top img {
    width: 90% !important;
  }
  .early .main-container .early-grid {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
  }
  .early .main-container .early-grid div {
    padding: 9px 16px;
  }
  .early .main-container .early-grid div h2 {
    font-size: 16px;
    font-weight: 800;
  }
  .early .main-container .early-grid div p {
    font-size: 14px;
    font-weight: 400;
  }
  .early .back-image img,
  .easy .back-image img,
  .early .back-image-2 img,
  .easy .back-image-2 img {
    width: 260px;
  }
  .early .main-container .easy-content {
    width: 45% !important;
  }
  .easy .main-container .easy-top {
    flex-direction: column-reverse;
  }
  .easy .main-container .easy-top img {
    width: 90%;
  }
  .easy .main-container .easy-top h1 {
    text-align: center;
    /* font-size: 30px; */
  }
  .easy .easy-top .easy-content p {
    text-align: center;
    /* font-size: 24px; */
  }
}
