.my-profile {
}
.my-profile .title {
  background: var(--linear-gradient-right);
  margin-bottom: 20px;
  & svg {
    color: var(--main-color);
    font-size: 60px;
    cursor: pointer;
  }
  & h2 {
    font-size: 64px;
    font-weight: 700;
    color: var(--main-color);
  }
}

.profile-content .main-container section {
  flex: 1;
  background-color: white;
  /* padding: 20px 0; */
  border-radius: 26px;
  max-width: 1000px;
  overflow: hidden;
}

.profile-content .main-container section .radio-boxs {
  width: 100%;
  position: relative;
  & div {
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    & label {
      font-size: 40px;
      font-weight: 400;
      color: #2d2e31;
      transition: 0.3s;
    }
    & input {
      position: absolute;
      opacity: 0;
    }
    & input:checked + label {
      color: var(--main-color);
      font-weight: 700;
    }
  }
}
.profile-content .main-container section .radio-boxs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
}
.profile-content .main-container section .radio-boxs::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--second-color);
  bottom: 2px;
  left: 0;
  border-radius: 2.5px 2.5px 0px 0px;

  transition: transform 0.3s ease;
  transform: translateX(0%);
}

/* .profile-content .main-container section .rad-profile::after {
  transform: translateX(100%);
} */

.profile-content .sec-data {
  /* padding: 20px; */
  display: flex;
  transition: transform 0.3s ease;
  transform: translateX(0%);
  /* overflow: hidden; */
  & .payment-content {
    width: 100%;
    padding: 20px;
    min-width: 100%;
    max-width: 100%;
    & ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-height: 500px;
      height: 500px;

      & li {
        padding: 15px;
        border-radius: 30px;
      }
      & li:first-child {
        text-align: center;
        background-color: #d9d9d9;
        font-size: 40px;
        font-weight: 700;
      }
      & li:not(:first-child) {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--second-color);
        max-height: 90px;

        & h3 {
          font-size: 40px;
          font-weight: 700;
          color: var(--main-color);
        }
        & div span {
          font-size: 24px;
          display: flex;
          color: var(--main-color);
          font-weight: 400;
          margin-top: -15px;
        }
        & > span {
          font-size: 40px;
          font-weight: 500;
          color: var(--main-color);
        }
      }
    }
  }

  & .profile-content {
    width: 100%;
    padding: 40px;
    min-width: 100%;
    max-width: 100%;
    & .info ul {
      gap: 40px;
      width: 100%;
      flex-wrap: wrap;
      & li {
        width: calc((100% - 40px) / 2);
        & h3 {
          font-size: 48px;
          font-weight: 700;
        }
        & span {
          display: flex;
          font-size: 24px;
          font-weight: 400;
          margin-top: -15px;
          & input {
            display: flex;
            align-items: center;
            opacity: 1;
            position: relative;
            margin: 5px 0;
            flex: 1;
            padding: 11px 0px 11px 20px;
            outline: none;
            border: none;
            background-color: #b8bcc4;
            color: rgba(45, 46, 49, 1);
            border-radius: 6px;
            border: 2px solid #b8bcc4;
            font-size: 20px;
            font-weight: 700;
            font-family: "Tajawal";
            transition: 0.3s;
            width: 100%;
          }
          & input:focus {
            border: 2px solid var(--main-color);
            background-color: white;
          }
        }
      }
    }
  }
  & .buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & a {
      font-size: 24px;
      font-weight: 400;
      padding: 15px 20px;
      border-radius: 50px;
      cursor: pointer;
      width: 250px;
      text-align: center;
    }
    & button:first-of-type {
      border: 1px solid #082f71;
      color: #082f71;
    }
    & a:last-of-type {
      color: #008a2e;
      border: 1px solid #008a2e;
    }
    & button {
      font-size: 24px;
      font-weight: 400;
      padding: 15px 20px;
      border-radius: 50px;
      cursor: pointer;
      width: 250px;
      text-align: center;
      border: 1px solid #b80003;
      color: #b80003;
    }
  }
}

/* .profile-content .main-container section .sec-data.profile-content {
  transform: translateX(-100%);
} */

.profile-content .main-container aside {
  padding: 20px;
  flex: 0.5;

  & > .proff img {
    width: 348px;
    height: 348px;
    max-width: 348px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 auto;
  }

  & .personal-data {
    & h3 {
      margin: 0 auto;
      font-size: 48px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
    }

    & span {
      display: flex;
      justify-content: center;
      font-size: 32px;
      font-weight: 300;
      font-style: italic;
      margin-top: -10px;
    }
  }
  & ul {
    margin-top: 20px;
    padding: 20px;

    & li {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: var(--second-color);
      color: var(--main-color);
      margin-bottom: 20px;
    }
    & li:first-child {
      & span {
        font-size: 36px;
        font-weight: 800;
      }
      & svg {
        font-size: 60px;
      }
    }
    & li:not(:first-child) {
      display: flex;
      justify-content: space-between;

      & .child-info {
        display: flex;
        align-items: center;
        gap: 10px;
        & img {
          width: 78px;
          height: 78px;
          border-radius: 50%;
          background-color: white;
        }
        & h3 {
          font-size: 36px;
          font-weight: 800;
        }
        & > div span {
          display: flex;
          font-size: 32px;
          font-weight: 500;
          margin-top: -20px;
        }
      }
      & > span {
        font-size: 20px;
        font-style: italic;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}
.profile-content .main-container aside .proff > .image {
  position: relative;
}
.profile-content .main-container aside .proff > .image .change-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.profile-content .main-container aside .proff > .image .change-image input {
  opacity: 0;
  position: absolute;
}
.profile-content .main-container aside .proff > .image .change-image label {
  background-color: #777;
  width: 348px;
  height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}
.profile-content
  .main-container
  aside
  .proff
  > .image
  .change-image
  label:hover {
  opacity: 0.4;
}
.profile-content .main-container aside .proff > .image .change-image label svg {
  font-size: 60px;
  color: white;
}
@media (width<1600px) {
  .profile-content .main-container section .radio-boxs {
    & div {
      & label {
        font-size: 32px;
      }
    }
  }

  .profile-content .sec-data {
    /* padding: 20px; */

    /* overflow: hidden; */
    & .payment-content {
      & ul {
        & li:first-child {
          font-size: 36px;
        }
        & li:not(:first-child) {
          & h3 {
            font-size: 32px;
          }
          & div span {
            font-size: 24px;
            margin-top: -10px;
          }
          & > span {
            font-size: 32px;
          }
        }
      }
    }

    & .profile-content {
      & .info ul {
        & li {
          width: calc((100% - 40px) / 2);
          & h3 {
            font-size: 36px;
          }
          & span {
            font-size: 24px;
          }
        }
      }
    }
  }
  .profile-content .main-container aside .proff > .image .change-image label {
    width: 257px;
    height: 257px;
  }
  .profile-content .main-container aside {
    padding: 20px;
    flex: 0.5;

    & > .proff img {
      width: 257px;
      height: 257px;
    }

    & .personal-data {
      & h3 {
        margin: 10px auto 0;
        font-size: 36px;
      }

      & span {
        font-size: 28px;
      }
    }
    & ul {
      & li:first-child {
        & span {
          font-size: 28px;
        }
        & svg {
          font-size: 50px;
        }
      }
      & li:not(:first-child) {
        & .child-info {
          & h3 {
            font-size: 28px;
            font-weight: 800;
          }
          & > div span {
            font-size: 28px;
            margin-top: -10px;
          }
        }
        & > span {
          font-size: 18px;
        }
      }
    }
  }

  .profile-content .main-container {
    justify-content: space-between;
  }
}
@media (width<1200px) {
  .profile-content .main-container {
    flex-direction: column-reverse;
  }
  .my-profile .title {
    & svg {
      font-size: 50px;
    }
    & h2 {
      font-size: 48px;
    }
  }
}

@media (width<768px) {
  .profile-content .main-container aside .proff > .image .change-image label {
    width: 100px;
    height: 100px;
  }
  .profile-content
    .main-container
    aside
    .proff
    > .image
    .change-image
    label
    svg {
    font-size: 24px;
  }
  .profile-content .main-container {
    & aside {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      padding: 0;
      & > .proff {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px 10px;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        & img {
          margin: 0;
          width: 100px;
          height: 100px;
        }
      }
      & .personal-data {
        text-align: left;
        & h3 {
          text-align: left;
          color: var(--main-color);
          font-size: 32px;
          font-weight: 800;
        }
        & span {
          font-size: 20px;
          font-style: italic;
          font-weight: 200;
          color: #2d2e31;
        }
      }
      & ul {
        width: 100%;
        padding: 0;
        order: 1;
      }
    }
  }
  .profile-content .main-container section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .profile-content .main-container section .radio-boxs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    top: 0;
  }

  .profile-content .main-container section .radio-boxs::after {
    display: none;
  }
  .profile-content .main-container section .radio-boxs {
    & div {
      width: 50%;
      padding: 20px 10px;
      & label {
        font-size: 20px;
        padding: 5px 5px;
        border-radius: 9px;
      }

      & input:checked + label {
        color: var(--main-color);
        border: 1px solid var(--main-color);
      }
    }
  }
  .my-profile {
    padding: 20px 0;
  }
  .my-profile .title {
    display: none;
  }

  .profile-content .sec-data {
    /* padding: 20px; */
    display: flex;
    transition: transform 0.3s ease;
    transform: translateX(0%);
    /* overflow: hidden; */
    & .payment-content {
      width: 100%;
      padding: 20px 10px;

      & ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 500px;
        height: 500px;

        & li {
          padding: 15px 10px;
          border-radius: 30px;
        }
        & li:first-child {
          text-align: center;
          background-color: #d9d9d9;
          font-size: 24px;
          font-weight: 700;
        }
        & li:not(:first-child) {
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--second-color);
          max-height: 90px;

          & h3 {
            font-size: 24px;
            font-weight: 700;
            color: var(--main-color);
          }
          & div span {
            font-size: 18px;
            display: flex;
            color: var(--main-color);
            font-weight: 400;
            margin-top: -5px;
          }
          & > span {
            font-size: 16px;
            font-weight: 500;
            color: var(--main-color);
          }
        }
      }
    }
    & .profile-content {
      width: 100%;
      padding: 10px 20px;
      min-width: 100%;
      max-width: 100%;
      & .info ul {
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
        & li {
          width: 100%;
          & h3 {
            font-size: 24px;
            font-weight: 700;
          }
          & span {
            display: flex;
            font-size: 16px;
            font-weight: 400;
            margin-top: -5px;
          }
        }
      }
      & .buttons {
        & a {
          margin: 0 auto;
        }
        & button {
          margin: 0 auto;
        }
      }
    }
  }
}
