:root {
  --main-color-logo: rgba(9, 54, 75, 1);
  --second-color-logo: rgba(47, 188, 215, 1);
  --main-color: #133e87;
  --second-color: rgba(143, 173, 225, 1);
  --second-color-hover: rgba(92, 130, 195, 1);
  --color-hover: rgba(0, 34, 92, 1);
  --main-font-tajawal: "Tajawal";
  --linear-gradient-left: linear-gradient(
    90deg,
    #9cc1ff 0%,
    rgba(156, 193, 255, 0) 55%
  );
  --linear-gradient-right: linear-gradient(
    90deg,
    rgba(156, 193, 255, 0) 45%,
    #9cc1ff 100%
  );
}

.btn {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.main-container {
  margin: 0 auto;
}
.app {
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .main-container {
    width: calc(100% - 30px);
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: 15px;
    margin-right: 15px;
  }
  a {
    font-size: 16px !important;
    /* height: 39px !important; */
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 1170px;
  }
}

@media (min-width: 1600px) {
  .main-container {
    width: 1560px;
  }
}

.bg-section {
  background-color: #f6f7fb;
}

.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}

.main-color {
  color: var(--main-color);
}

.bacground-linear-left {
  background: var(--linear-gradient-left);
}

.line-height-main {
  line-height: 118.8%;
}

.App {
  overflow: hidden;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.sessions .main-container .sessions-list .session-item .doctor-rate-mobile svg {
  font-size: 18px;
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #ffc80b, #e89318); /* التدرج اللوني */
  -webkit-mask-image: linear-gradient(90deg, #ffc80b, #e89318);
  mask-image: linear-gradient(90deg, #ffc80b, #e89318);
  -webkit-background-clip: text;
  color: #ffc80b;
  margin-right: 3px;
}
@media (width <768px) {
  .sessions
    .main-container
    .sessions-list
    .session-item
    .doctor-rate-mobile
    svg {
    font-size: 16px;
    width: 20px;
    height: 20px;
  }
}

p.not-data {
  width: 100%;
  padding: 10px;
  border-radius: 9px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: orangered;
  text-align: center;
}
.add-review-doctor {
  background-color: var(--main-color) !important;
  transition: 0.3s;
}
.add-review-doctor:hover {
  background-color: var(--color-hover) !important;
}

.add-review-doctor p {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.add-review-doctor svg {
  font-size: 40px;
  color: white;
}
.change-pass .choose {
  height: fit-content !important;
}
.change-pass .child-info {
  display: flex;
  flex-direction: column;
}
.change-pass .choose .start {
  display: flex !important;
  position: relative;
  bottom: 0;
  margin-top: 50px;
}
.change-pass .child-info input {
  margin: 5px 0;
  flex: 1;
  padding: 11px 0px 11px 20px;
  outline: none;
  border: none;
  background-color: #b8bcc4;
  color: rgba(45, 46, 49, 1);
  border-radius: 6px;
  border: 2px solid #b8bcc4;
  font-size: 20px;
  font-weight: 700;
  font-family: "Tajawal";
  transition: 0.3s;
}
.change-pass .child-info input:focus {
  background-color: white;
  border: 2px solid #00225c;
}

.change-pass p.err {
  color: red;
  font-weight: 500;
  text-align: start;
  padding-left: 73px;
  padding-right: 73px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 18px;
}

@media (width < 768px) {
  .change-pass p.err {
    padding-left: 0;
    padding-right: 0;
  }
}
